<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="aufgaben">
      <ion-icon name="hammer-outline"></ion-icon>
      <ion-label>Aufgaben</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="completedTasks">
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label>Fertige Aufgaben</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="help">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Hilfe</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
